.header {
    position: relative;
    height: 600px;
    // background-color: #38D0A2;
    background: url(../../assets/header/bg-header.svg) no-repeat;
    background-size: contain;

    &-content {
        display: flex;
        align-items: center;
        justify-content: center;


        &__list {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 70%;
            bottom: 0;

            &-box {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 205px;
                height: 180px;
                margin: 0 2rem;
                box-shadow: 0px 4px 4px rgba(56, 208, 162, 0.56);
                border-radius: 10px;
                background-color: #fff;

                span {
                    font-weight: bold;
                    margin-top: 1.5rem;
                }
            }
        }
    }

    @media screen and (max-width : 998px) {

        height: 400px;
        background-size: cover;

        &-content {

            &__list {
                width: 90%;
                margin: 0 auto;
                text-align: center;
                flex-wrap: wrap;
                border-radius: .5rem;
                background: rgba(0, 0, 0, 0.5);
                bottom: 10%;

                &-box {
                    background-color: unset;
                    box-shadow: none;
                    height: auto;
                    width: 30%;


                    svg {
                        display: none;
                    }

                    span {
                        font-size: .9rem;
                        color: #fff;
                    }
                }
            }
        }
    }
}

.about {
    background-color: #38D0A2;

    &-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 450px;


        &__title {
            font-size: 2.2rem;
            font-weight: 700;
            color: #252525;
        }

        &__box {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 70%;
            margin: 3.5rem auto 0;



            &-items {
                width: 225px;
                text-align: center;
                font-size: 18px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                img {
                    width: 150px;
                    height: 150px;
                }

                &__text {
                    margin-top: 1rem;
                    font-weight: 700;
                }
            }


        }

        @media screen and (max-width : 998px) {

            height: auto;

            &__title {
                padding-top: 3rem;
            }

            &__box {
                flex-direction: column;

                &-items {
                    margin: 2rem 0;
                }
            }
        }
    }
}

// end header
.services {
    padding: 6rem 0;

    &-content {
        padding: 0 1rem;

        &__box {
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin: 1rem 0;

            &-img {
                width: 350px;
                height: 350px;
                background: #FFFFFF;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
                border-radius: 56px;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 90%;
                    height: 90%;

                }

            }

            &-items {
                width: 50%;
                text-align: right;


                &__title {
                    font-weight: bold;
                    font-size: 25px;
                    color: #38D0A2;
                    margin-bottom: 2rem;
                }

                &__desc {
                    font-weight: bold;
                    font-size: 18px;
                    color: #252525;
                    line-height: 2;
                }
            }


            @media screen and (max-width : 998px) {
                flex-direction: column;
                padding: 3rem 0;

                &-img,
                &-items {
                    width: 100%;
                    text-align: center;

                    &__title {
                        margin-top: 3rem;
                    }

                    &__desc {
                        text-align: justify;
                    }
                }
            }
        }
    }
}

// end services
.accordion {
    background-color: #38D0A2;
    padding: 3rem 0;

    &-title {
        text-align: center;
        font-size: 2.2rem;
        font-weight: bold;
        color: #fff;
    }

    &-content {
        padding: 4rem 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        &__box {
            width: 85%;
            height: 80px;
            background: #FDFFFE;
            box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.12);
            border-radius: 10px;
            margin: .5rem auto;
            padding: 1.5rem;
            cursor: pointer;
            transition: all .4s ease-in-out;


            &.active-box {
                height: 170px;
                transition: all .4s ease-in-out;
            }

            &-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: #252525;


                &__title {
                    font-size: 1.1rem;
                    font-weight: 500;
                }

                &__icon {
                    transition: transform .4s ease-in-out;

                    &.active-icon {
                        transform: rotate(180deg);
                        transition: transform .4s ease-in-out;
                    }
                }
            }

            &-body {
                opacity: 0;
                display: none;
                padding: 1rem;

                &.active-body {
                    opacity: 1;
                    display: block;

                }
            }
        }


        @media screen and (max-width : 998px) {
            &__box {
                width: 100%;

                &.active-box {
                    height: 220px;
                }

                &-header {
                    &__title {
                        font-size: .8rem;
                    }
                }

                &-body {
                    font-size: .8rem;
                }
            }
        }
    }
}

// end accordion
.contact {
    padding: 5rem 0;

    &-title {
        text-align: center;
        font-size: 2.2rem;
        font-weight: bold;
        color: #38D0A2;
    }

    &-content {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-top: 5rem;

        &__form {
            width: 45%;
            display: flex;
            flex-direction: column;
            background-color: #fff;
            padding: 2rem;
            border-radius: .6rem;
            background-color: #38D0A2;
            // border: 3px solid #38D0A2;
            // border-bottom: none;
            // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);



            input,
            textarea {
                height: 50px;
                border: none;
                outline: none;
                border-radius: .3rem;
                margin: 1rem 0;
                background-color: #E1E8EB;
                padding-right: .7rem;
            }

            textarea {
                resize: none;
                height: 120px;
            }

            input[type="submit"] {
                background-color: #252525;
                color: #38D0A2;
                font-size: 1.1rem;
                font-weight: 700;
            }

            @media screen and (max-width : 998px) {
                width: 100%;
            }
        }
    }

    &-error {
        font-weight: 600;
        color: #F90716;
        padding-right: .1rem;
    }
}

// end contact
.footer {
    padding: 3rem 0 0;

    &-content {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;

        &__list {
            width: 100%;
            padding: 4rem 0;
            list-style-type: none;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            &-items {
                display: flex;
                flex-direction: column;
                margin-top: 1rem;

                h5 {
                    font-weight: bold;
                    font-size: 20px;
                    color: #252525;
                    margin-bottom: 2rem;
                }

                span {
                    font-weight: 500;
                    font-size: 18px;
                    color: #252525;
                    margin-bottom: 1rem;

                }

                &__social {
                    width: 130px;

                    a {
                        color: #38D0A2;
                        margin: 0 .5rem;
                    }
                }

                &__box {
                    width: 400px;
                    position: relative;

                    input {
                        width: 270px;
                        height: 57px;
                        background: #E1E8EB;
                        border-radius: 10px;
                        border: unset;
                        outline: none;
                        font-size: .8rem;
                        padding-right: .8rem;
                    }

                    button {
                        width: 68px;
                        height: 57px;
                        background: #38D0A2;
                        border-radius: 10px;
                        border: unset;
                        color: #fff;
                        margin-right: 1rem;
                    }
                }
            }

            @media screen and (max-width : 998px) {
                flex-direction: column;
            }
        }

        &__copy {
            width: 100%;
            text-align: center;
        }
    }
}